<div class="row">
	<div class="col-md-4">
		<h2>Tarefas</h2>
		<table class="table table-striped table-condensed">
			<tbody>
				<tr>
					<td>Criar tela de cadastro de clientes</td>
					<td><span class="glyphicon glyphicon-fullscreen"></span></td>
				</tr>
				<tr>
					<td>Criar tela de edição de produtos</td>
					<td><span class="glyphicon glyphicon-fullscreen"></span></td>
				</tr>
				<tr>
					<td>Criar script batch para sincronizar os produtos</td>
					<td><span class="glyphicon glyphicon-fullscreen"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-8">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#">Planejado</a></li>
			<li><a href="#">Realizado</a></li>
		</ul>
		<div class="row">
			<div class="col-md-12">
				<div data-calendar></div>
			</div>
		</div>
	</div>
</div>