<div class="col-md-10 col-md-offset-1">
	<h2>
		Escopos
		<button class="btn btn-primary">
			<span class="glyphicon glyphicon-plus"></span>
		</button>
	</h2>
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>Título do Escopo</th>
				<th width="200">Data</th>
				<th width="180">Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<input type="text" name="nome-escopo" id="nome-escopo"
						class="form-control" value="Primeira versão (v1.0)" />
				</td>
				<td></td>
				<td>
					<div class="btn-group">
						<button disabled class="btn btn-default" title="Travar escopo" data-toggle="tooltip">
							<span class="glyphicon glyphicon-pushpin"></span>
						</button>
						<button disabled class="btn btn-default" title="Copiar escopo" data-toggle="tooltip">
							<span class="glyphicon glyphicon-retweet"></span>
						</button>
						<button disabled class="btn btn-default" title="Ver requisitos">
							<span class="glyphicon glyphicon-list"></span>
						</button>
						<button disabled class="btn btn-default" title="Excluir">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>
				</td>
			</tr>
			<tr>
				<td>Versão Alpha (v0.1)</td>
				<td>01/10/2013</td>
				<td>
					<div class="btn-group">
						<button class="btn btn-default" disabled title="Escopo travado" data-toggle="tooltip">
							<span class="glyphicon glyphicon-pushpin"></span>
						</button>
						<button class="btn btn-default" title="Copiar escopo" data-toggle="tooltip">
							<span class="glyphicon glyphicon-retweet"></span>
						</button>
						<button class="btn btn-default" title="Ver requisitos">
							<span class="glyphicon glyphicon-list"></span>
						</button>
						<button class="btn btn-danger" title="Excluir">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>
				</td>
			</tr>
			<tr>
				<td>Beta testing (v0.7)</td>
				<td>29/02/2014</td>
				<td>
					<div class="btn-group">
						<button class="btn btn-success" title="Travar escopo" data-toggle="tooltip">
							<span class="glyphicon glyphicon-pushpin"></span>
						</button>
						<button class="btn btn-default" title="Copiar escopo" data-toggle="tooltip">
							<span class="glyphicon glyphicon-retweet"></span>
						</button>
						<button class="btn btn-default" title="Ver requisitos">
							<span class="glyphicon glyphicon-list"></span>
						</button>
						<button class="btn btn-danger" title="Excluir">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>