<div class="col-md-8">
	<h2>
		Escopos
		<button class="btn btn-primary">
			<span class="glyphicon glyphicon-plus"></span>

		</button>
	</h2>
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>Escopos</th>
				<th width="200">Data</th>
				<th width="180">Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="escopo in escopos">
				<td>
					{{escopo.titulo}}
					<!--<input type="text" name="nome-escopo" id="nome-escopo"
						class="form-control" value="Primeira versão (v1.0)" />-->
				</td>
				<td>{{escopo.data}}</td>
				<td>
					<div class="btn-group">
						<button class="btn btn-success" title="Travar escopo" data-toggle="tooltip"
							ng-click="travarEscopo(escopo)">
							<span class="glyphicon glyphicon-pushpin"></span>
						</button>
						<button class="btn btn-default" title="Copiar escopo" data-toggle="tooltip"
							ng-click="copiarEscopo(escopo)">
							<span class="glyphicon glyphicon-retweet"></span>
						</button>
						<a href="#/projeto/1/escopo/{{escopo.id}}/requisito" class="btn btn-default" title="Ver requisitos">
							<span class="glyphicon glyphicon-list"></span>
						</a>
						<button class="btn btn-danger" title="Excluir" ng-click="removerEscopo(escopo)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="col-md-4">
	<form action="" role="form">
		<fieldset>
			<legend>Compartilhar Projeto</legend>
			<div class="input-group">
				<input type="search" name="busca" id="busca" class="form-control" placeholder="Pesquisar por nome ou email..." />
				<div class="input-group-btn">
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle"
							data-toggle="dropdown">
							<span class="glyphicon glyphicon-user"></span>

							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a href="#">
									<span class="glyphicon glyphicon-wrench"></span>
									Prestador
								</a>
							</li>
							<li>
								<a href="#">
									<span class="glyphicon glyphicon-user"></span>
									Cliente
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="input-group-btn">
					<button class="btn btn-primary">
						Enviar Convite
					</button>
				</div>
			</div>
		</fieldset>
	</form>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<div class="well well-sm">
				<img alt="" class="img-circle"
					src="//gravatar.com/avatar/36bb355a5f3ef6df2644c42f17e804eb?s=40" />
				<strong>Iran Sousa de Freitas</strong>
				<span class="label label-primary">Prestador</span>
				<button class="close" aria-hidden="true">&times;</button>
			</div>
			<div class="well well-sm">
				<img alt="" class="img-circle"
					src="//gravatar.com/avatar/6bb8d259b6b46a59ec66aadbd2b13015?s=40" />
				<strong>Vinicius da Costa Pires</strong>
				<span class="label label-primary">Prestador</span>
				<button class="close" aria-hidden="true">&times;</button>
			</div>
			<div class="well well-sm">
				<img src="//placehold.it/40x40" alt="" class="img-circle" />
				<strong>Fulano da Silva Sauro</strong>
				<span class="label label-success">Cliente</span>
				<button class="close" aria-hidden="true">&times;</button>
			</div>
		</div>
	</div>
</div>