<div class="col-md-6 col-md-offset-3">
	<div class="well" ng-repeat="escopo in escopos">
		<h1>
			<small>Escopo</small> {{escopo.titulo}}
			<small>
				<span class="pull-right label"
					ng-class="{'label-default':escopo.horasRealizadas<escopo.horasPlanejadas,
							'label-success':escopo.horasRealizadas===escopo.horasPlanejadas,
							'label-danger':escopo.horasRealizadas>escopo.horasPlanejadas}">
					{{escopo.horasRealizadas}}/{{escopo.horasPlanejadas}}h
				</span>
			</small>
		</h1>
		<div class="row">
			<div class="col-md-11">
				<div class="progress">
					<div class="progress-bar progress-bar-primary" role="progressbar"
						aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
						style="width: {{porcentagem(escopo.tarefasFinalizadas, escopo.tarefas)}}%"></div>
					<span class="sr-only">{{porcentagem(escopo.tarefasFinalizadas, escopo.tarefas)}}% Complete</span>
				</div>
			</div>
			<div class="col-md-1">
				<div class="text-right badge pull-right">
					{{escopo.tarefasFinalizadas}}/{{escopo.tarefas}}
				</div>
			</div>
		</div>

		<ul class="requisitos list-unstyled">
			<li ng-repeat="requisito in escopo.requisitos">
				<strong>#{{$index+1 | numberPad}}:</strong>
				{{requisito.titulo}}
				<div class="label pull-right"
					ng-class="{'label-default':requisito.tarefas<=0,
					'label-primary':requisito.tarefasFinalizadas<requisito.tarefas,
					'label-success':requisito.tarefasFinalizadas===requisito.tarefas}">
					{{requisito.tarefasFinalizadas}}/{{requisito.tarefas}}
				</div>
				<div class="progress tiny">
					<div class="progress-bar" role="progressbar"
						aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"
						style="width:{{porcentagem(requisito.tarefasFinalizadas, requisito.tarefas)}}%;"
						ng-class="{'progress-bar-primary':requisito.tarefasFinalizadas<requisito.tarefas,
							'progress-bar-success':requisito.tarefasFinalizadas===requisito.tarefas}">
					</div>
					<span class="sr-only">
						{{porcentagem(requisito.tarefasFinalizadas, requisito.tarefas)}}% Complete
					</span>
				</div>
			</li>
		</ul>
	</div>
	
	<div class="well text-center" ng-if="escopos.length==0">
		Os dados do projeto ainda são insuficientes para visualizar o andamento.
	</div>
</div>