<div class="projeto">
	<h2>Projetos</h2>
	<ul class="list-inline clearfix">
		<li class="col-md-4" ng-repeat="projeto in projetos">
			<div class="well">
				<h4>
					<a href="#/projeto/{{projeto.id}}">{{projeto.titulo}}</a>
				</h4>
				<p>{{projeto.descricao}}</p>
				<div class="btn-group">
					<a href="#/projeto/{{projeto.id}}/andamento" class="btn btn-default" title="Visualizar andamento do projeto">
						<span class="glyphicon glyphicon-tasks"></span>
					</a>
					<a href="#/projeto/{{projeto.id}}/edit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Editar dados do projeto">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
					<button class="btn btn-default" title="Arquivar projeto" ng-click="removerProjeto(projeto)">
						<span class="glyphicon glyphicon-inbox"></span>
					</button>
				</div>
			</div>
		</li>
		<li class="novo col-md-4">
			<div class="well">
				<a href="#/projeto/new">
					<h2 class="text-center">
						Novo projeto
					</h2>
				</a>
			</div>
		</li>
	</ul>
</div>