<div class="row">
	<h1>Projetos</h1>
	<ul class="list-inline clearfix">
		<li class="col-md-4" ng-repeat="projeto in projetos">
			<div class="well">
				<h4>
					<a href="#/projeto/{{projeto.id}}">{{projeto.titulo}}</a>
				</h4>
				<p>{{projeto.descricao}}</p>
				<div class="btn-group">
					<!--<button class="btn btn-default" title="Compartilhar Projeto">
						<span class="glyphicon glyphicon-user"></span>
					</button>-->
					<a href="#/projeto/{{projeto.id}}/edit" class="btn btn-default" title="Editar dados do projeto">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
					<button class="btn btn-default" title="Remover o projeto" ng-click="removerProjeto(projeto)">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
			</div>
		</li>
	</ul>
</div>