<div class="row">
	<div class="col-md-5 col-md-offset-7">
		<form action="" role="form">
			<fieldset>
				<legend>Convidar amigo para o Projeto</legend>
				<div class="input-group">
					<input type="search" name="busca" id="busca" class="form-control" placeholder="Pesquisar por nome ou email..." />
					<div class="input-group-btn">
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle"
								data-toggle="dropdown">
								<span class="glyphicon glyphicon-user"></span>
								Cliente
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a href="#">
										<span class="glyphicon glyphicon-wrench"></span>
										Prestador
									</a>
								</li>
								<li>
									<a href="#">
										<span class="glyphicon glyphicon-user"></span>
										Cliente
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="input-group-btn">
						<button class="btn btn-primary">
							Enviar Convite
						</button>
					</div>
				</div>
			</fieldset>
		</form>
		<hr />
		<div class="row">
			<div class="col-md-12">
				<div class="well well-sm">
					<img alt="" class="img-circle"
						src="//gravatar.com/avatar/36bb355a5f3ef6df2644c42f17e804eb?s=40" />
					<strong>Iran Sousa de Freitas</strong>
					<span class="label label-primary">Prestador</span>
					<button class="close" aria-hidden="true">&times;</button>
				</div>
				<div class="well well-sm">
					<img alt="" class="img-circle"
						src="//gravatar.com/avatar/6bb8d259b6b46a59ec66aadbd2b13015?s=40" />
					<strong>Vinicius da Costa Pires</strong>
					<span class="label label-primary">Prestador</span>
					<button class="close" aria-hidden="true">&times;</button>
				</div>
				<div class="well well-sm">
					<img src="//placehold.it/40x40" alt="" class="img-circle" />
					<strong>Fulano da Silva Sauro</strong>
					<span class="label label-success">Cliente</span>
					<button class="close" aria-hidden="true">&times;</button>
				</div>
			</div>
		</div>
	</div>
</div>