<div class="row">
	<h1>Projetos</h1>
	<ul class="list-inline">
		<li class="col-md-4">
			<div class="well">
				<h4><a href="#6">Sistema de Folha de Pagamento</a></h4>
				<p>O sistema de pagamento começou com a necessidade de manter um histórico de folhas da empresa X, ...</p>
				<div class="btn-group">
					<button class="btn btn-default" title="Compartilhar Projeto">
						<span class="glyphicon glyphicon-user"></span>
					</button>
					<button class="btn btn-default" title="Editar dados do projeto">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
					<button class="btn btn-default" title="Remover o projeto">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
			</div>
		</li>
		<li class="col-md-4">
			<div class="well">
				<h4><a href="#6">Sistema de Controle de Colaboradores</a></h4>
				<p>O sistema de pagamento começou com a necessidade de manter um histórico de folhas da empresa X, ...</p>
				<div class="btn-group">
					<button class="btn btn-default" title="Compartilhar Projeto">
						<span class="glyphicon glyphicon-user"></span>
					</button>
					<button class="btn btn-default" title="Editar dados do projeto">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
					<button class="btn btn-default" title="Remover o projeto">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
			</div>
		</li>
		<li class="col-md-4">
			<div class="well">
				<h4><a href="#6">CRM Cliente Acme</a></h4>
				<p>O sistema de pagamento começou com a necessidade de manter um histórico de folhas da empresa X, ...</p>
				<div class="btn-group">
					<button class="btn btn-default" title="Compartilhar Projeto">
						<span class="glyphicon glyphicon-user"></span>
					</button>
					<button class="btn btn-default" title="Editar dados do projeto">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
					<button class="btn btn-default" title="Remover o projeto">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
			</div>
		</li>
		<li class="col-md-4">
			<div class="well">
				<h4><a href="#6">Reqlist</a></h4>
				<p>O sistema de pagamento começou com a necessidade de manter um histórico de folhas da empresa X, ...</p>
				<div class="btn-group">
					<button class="btn btn-default" title="Compartilhar Projeto">
						<span class="glyphicon glyphicon-user"></span>
					</button>
					<button class="btn btn-default" title="Editar dados do projeto">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
					<button class="btn btn-default" title="Remover o projeto">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
			</div>
		</li>
		<li class="col-md-4">
			<div class="well">
				<h4><a href="#6">Sistema de Controle de Estoque</a></h4>
				<p>O sistema de pagamento começou com a necessidade de manter um histórico de folhas da empresa X, ...</p>
				<div class="btn-group">
					<button class="btn btn-default" title="Compartilhar Projeto">
						<span class="glyphicon glyphicon-user"></span>
					</button>
					<button class="btn btn-default" title="Editar dados do projeto">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
					<button class="btn btn-default" title="Remover o projeto">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
			</div>
		</li>
	</ul>
</div>