<div class="col-md-6 col-md-offset-3">
	<form action="" role="form">
		<fieldset>
			<legend>Editar seu perfil</legend>

			<div class="form-group">
				<label for="nome">Nome</label>
				<input type="text" name="nome" id="nome" class="form-control"
					placeholder="Digite o seu nome completo" value="Fulano de tal" />
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" name="email" id="email" class="form-control" disabled
					placeholder="Digite o seu email" value="fulanodetal@gmail.com"
					title="Não é possível modificar seu email" data-tooltip />
			</div>
			<div class="form-group">
				<label for="senha">Senha</label>
				<input type="password" name="senha" id="senha"
					class="form-control" placeholder="Digite uma nova senha" />
			</div>

			<button class="btn btn-default">Voltar</button>
			<button type="submit" class="btn btn-primary">Salvar</button>
		</fieldset>
	</form>
</div>