body {
	background-color:#F8F8F8;
}

:focus {
	outline:0;
}
.checkbox input[type=checkbox]:checked + span {
	text-decoration: line-through;
}
.tasks {
	margin:1em 0;
}
.tasks li {
	padding:0.6em 0em;
	border-top:solid 1px #E3E3E3;
	background-color: #FFF;
}
.tasks li:nth-of-type(odd) {
	background-color: #F5F5F5;
}
.tasks li:last-of-type {
	border-bottom:solid 1px #E3E3E3;
}
input, select, textarea, .well, .well-sm, .btn, .img-thumbnail, .progress {
	border-radius:0px !important;
}
.progress.tiny {
	height:4px;
	margin-top:4px;
	margin-bottom:-9px;
}

.projeto ul li.novo .well {
	border:dashed 0.2em #E3E3E3;
	opacity:0.6;
}
.projeto ul li.novo .well:hover {
	opacity:1;
	text-decoration:none;
}
.projeto ul li.novo .well:hover a {
	text-decoration:none;
}
.projeto ul li.novo .well h2 {
	line-height:3.05em;
}

.tipo-alocacao {
    position:absolute;
    top:0;
    width:33%;
    left:33%;
    border-radius: 3px !important;
}

.tarefas-drag li {
    -webkit-user-select:none;
    cursor:move;
}
.tarefas-drag li .drag {
    
}