<div menu-navegacao="alocacao" class="col-md-3"></div>
<div class="col-md-6">
	<div class="row">
		<div class="col-md-12">
			<div data-calendar></div>
			<select ng-model="tipoAlocacao" class="form-control input-sm tipo-alocacao">
				<option value="planejado">Planejamento</option>
				<option value="realizado">Execução</option>
			</select>
		</div>
	</div>
</div>
<div class="col-md-3">
	<h3>Tarefas</h3>
	<ul class="list-unstyled tasks tarefas-drag">
		<li data-draggable ng-repeat="tarefa in tarefas" data-tarefa="{{tarefa}}">
			{{tarefa.titulo}}
			<div class="drag"></div>
		</li>
	</ul>
</div>